<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kardex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384- sRl14kXLfV47J16cr9ZvB07vP438 +LH7qKQnuqkuIAvNWLzeN8tE5yBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384- FKy0EForCGlyvwx9Hj09JCyn3nv7wiPVlz7YYwjRwCxK/BmnVdxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>